{%extends "Clientes/base.html"%}
{%load static%}
{%block titulo%} Prestamos {%endblock titulo%}
{%block usuario_nombre%} {{usuario_nombre}} {%endblock usuario_nombre%}
{%block links%} <link rel="stylesheet" href="{%static 'Clientes/css/index.css'%}"> 
<link rel="stylesheet" href="{%static 'Prestamos/css/formulario.css'%}">{%endblock links%}
{%block content%}

<div class="mt-5 px-3">
    <div class="container-fluid prestamos">
       <h1 class="text-center mb-3">Tarjetas</h1>
       <h2 class="text-success text-center mb-3c">{{success_message}}</h2>
        <table class="table table-striped table-dark">
            <thead class="thead-ligh">
              <tr>
                <th scope="col" class="text-uppercase">Numero</th>
                <th scope="col" class="text-uppercase">Marca</th>
                <th scope="col" class="text-uppercase">Fecha de expedición</th>
                <th scope="col" class="text-uppercase">Fecha de expiración</th>
                <th scope="col" class="text-uppercase">Tipo</th>
              </tr>
            </thead>
            <tbody>
                {%for tarjeta in tarjetas%}  
                <tr>
                    <td>{{tarjeta.card_number}}</td>
                    <td>{{tarjeta.brand}}</td>
                    <td>{{tarjeta.card_from_date}}</td>
                    <td>{{tarjeta.card_expiration_date}}</td>
                    <td>{{tarjeta.get_card_type_display}}</td>


                </tr>
            {%endfor%}
            </tbody>
          </table>
          <div class="d-flex flex-row-reverse">
            <a class="btn btn-primary" href="{%url 'Formulario-tarjeta' %}">Pedir Tarjeta</a>
          </div>
          
    </div>
</div>
{%endblock content%}